RFD.FMS.WEB/Service References/RequisitionedService/LoanService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="Vancl.SCMS.Services" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="Vancl.SCMS.Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Vancl.SCMS.Services/Imports">
      <xsd:import schemaLocation="http://scm.vancl.com/SVC/LoanService.svc?xsd=xsd0" namespace="Vancl.SCMS.Services" />
      <xsd:import schemaLocation="http://scm.vancl.com/SVC/LoanService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://scm.vancl.com/SVC/LoanService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://scm.vancl.com/SVC/LoanService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Vancl.SCMS.CommonModel.Stock" />
      <xsd:import schemaLocation="http://scm.vancl.com/SVC/LoanService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Vancl.SCMS.CommonModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoanService_GetLoanInfoByOrderId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoanInfoByOrderId" />
  </wsdl:message>
  <wsdl:message name="ILoanService_GetLoanInfoByOrderId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoanInfoByOrderIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILoanService_CreateLoan_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLoan" />
  </wsdl:message>
  <wsdl:message name="ILoanService_CreateLoan_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLoanResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoanService">
    <wsdl:operation name="GetLoanInfoByOrderId">
      <wsdl:input wsaw:Action="Vancl.SCMS.Services/ILoanService/GetLoanInfoByOrderId" message="tns:ILoanService_GetLoanInfoByOrderId_InputMessage" />
      <wsdl:output wsaw:Action="Vancl.SCMS.Services/ILoanService/GetLoanInfoByOrderIdResponse" message="tns:ILoanService_GetLoanInfoByOrderId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLoan">
      <wsdl:input wsaw:Action="Vancl.SCMS.Services/ILoanService/CreateLoan" message="tns:ILoanService_CreateLoan_InputMessage" />
      <wsdl:output wsaw:Action="Vancl.SCMS.Services/ILoanService/CreateLoanResponse" message="tns:ILoanService_CreateLoan_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>