RFD.FMS.WEB/Service References/RequisitionedService/LoanService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Vancl.SCMS.Services" elementFormDefault="qualified" targetNamespace="Vancl.SCMS.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://scm.vancl.com/SVC/LoanService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://scm.vancl.com/SVC/LoanService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Vancl.SCMS.CommonModel.Stock" />
  <xs:import schemaLocation="http://scm.vancl.com/SVC/LoanService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Vancl.SCMS.CommonModel" />
  <xs:element name="GetLoanInfoByOrderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="orderIds" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanInfoByOrderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Vancl.SCMS.CommonModel.Stock" minOccurs="0" name="GetLoanInfoByOrderIdResult" nillable="true" type="q2:ArrayOfLoanInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLoan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Vancl.SCMS.CommonModel.Stock" minOccurs="0" name="model" nillable="true" type="q3:LoanModelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLoanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Vancl.SCMS.CommonModel" minOccurs="0" name="CreateLoanResult" nillable="true" type="q4:DealResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>