RFD.FMS.Proxy/Service References/LMSRoleProxy/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RFD.LMS.Model.Permission" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="LoadAccessPermissionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subSysKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAccessPermissionDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RFD.LMS.Model.Permission" minOccurs="0" name="LoadAccessPermissionDataResult" nillable="true" type="q1:ArrayOfAccessPermissionNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAccessPermissionDataByRuleKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subSysKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruleKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAccessPermissionDataByRuleKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RFD.LMS.Model.Permission" minOccurs="0" name="LoadAccessPermissionDataByRuleKeyResult" nillable="true" type="q2:ArrayOfAccessPermissionNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadDataPermissionNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subSysKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadDataPermissionNodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RFD.LMS.Model.Permission" minOccurs="0" name="LoadDataPermissionNodesResult" nillable="true" type="q3:DataPermissionNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadDataPermissionDicByLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subSysKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="level" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadDataPermissionDicByLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LoadDataPermissionDicByLevelResult" nillable="true" type="q4:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadHasAllChildDataPermissionDic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subSysKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="level" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadHasAllChildDataPermissionDicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LoadHasAllChildDataPermissionDicResult" nillable="true" type="q5:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadDataPermissionDicByParentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subSysKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadDataPermissionDicByParentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LoadDataPermissionDicByParentIdResult" nillable="true" type="q6:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllDataPermissionSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subSysKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllDataPermissionSourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RFD.LMS.Model.Permission" minOccurs="0" name="LoadAllDataPermissionSourceResult" nillable="true" type="q7:DataPermissionNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAccessSubSystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subSysKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAccessSubSystemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckAccessSubSystemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIsAdminRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subSysKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIsAdminRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIsAdminRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>